<%- include('./partials/header.ejs') %>
<%- include('./partials/sidebar.ejs') %>
    <h1 class="satisfy">Contact Page</h1>
    <i class="fa-solid fa-computer"></i>

 
      <%- include('./partials/footer.ejs') %>